snippet df=
	def ${1:Name}(${2:Var} : ${3:Type}) = {
		${4:Body}
	}
snippet df
	def ${1:Name}(${2:Var} : ${3:Type}){
		${4:Body}
	}
snippet pck
	package `StarlingPackage(expand("%"))`
snippet ccls
	case class `expand("%:t:r")`(${1:Name} : ${2:Type}){
	}
snippet tcls
	import org.scalatest.FunSpec
	import org.scalatest.matchers.ShouldMatchers

	class `expand("%:t:r")` extends FunSpec with ShouldMatchers{
		describe("${1:Description}"){
			it("${2:Behaviour}"){
			}
		}
	}
